/* GLOBAL */
html,body{
    font-family: 'Arial', sans-serif;
}


/* HEADER */
/* header{
    position: fixed;
    top: 0;
    width: 100%;
} */
.header__top{
    font-size: 14px;
}
.header__top a{
    text-decoration: none;
    color: black;
    /* transition: all 0.5s; */
}
.listtd{
    font-weight: 100;
    font-size: 14px;
}
.listtd1{
    float: left;  
}
.listtd2{
    float: right;
}
.header__left{
    padding: 0px;
}
.header__right{
    padding-left: 3%;
    padding-right: 0px;
}
.header__right a{
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin-left: 0.25rem;
}
.logobrand{
    padding: 0px;
    font-weight:bold;
}


a.nav-link{
    margin: 0px 5px 0px 5px;
}

a.nav-link:hover{
    background-color: black;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    color: white;
}
#text-search{
    width: 120%;
    border: 1px black solid;
}


.banner1 img{
    width: 100%;
    
}
.thongtinbanner1{
    text-align: center;
    margin-top: 50px;
}
.thongtinbanner1 button{
    border-radius: 30px;
    background-color: blue;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 80px;
    padding: 7px;
    margin-right: 10px;
    
}
.thongtinbanner1 a{
    font-size: 20px;
    text-decoration: none;
}
.thongtinbanner1 a span:hover{
    text-decoration: 3px blue solid;
}
.downimg{
    height: 100px;
    line-height: 100px;
    background-color: black;
    position: relative;
}
#downimg1{
    height: 0px;
    color: white;
    font-weight: bold;
    text-align: center;
    
}
#line1{
    width: 30px;
    height: 3px;
    background-color: blue;
    margin-left:calc((100% - 30px)/2);
    margin-top: 5%;
    position: absolute;
    /* margin-bottom: -100px; */
}
.sanpham{
    background-color: #F7F7F7;
    padding-bottom: 70px;
}
.sanpham h1{
    text-align: center;
    margin:50px 0px;
    padding-top: 30px;
    font-weight: bold;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
    min-height: 100px;
    margin: auto;
}
.flex-container a{
    text-decoration: none;
    color: black;
}
.flex-container a:hover{
    text-decoration: solid;
    color: blue;
}

.sp{
    margin-right: 8px;
    margin-bottom: 10px;
    background-color: white;
    min-height: 500px;
    width: 265px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 30px;
}
.sp img{
    width: 100%;
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.sp h6{
    text-align: center;
    font-weight: bold;
    margin: 20px 0px 0px 5px;
    height: 80px;
}
.mausac{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
#tms{
    width: 27%;
    font-weight: bold; 
    font-size: 13px;
    line-height: 24px;
    color: black;
}
.ms{
    font-size: 13px;
    line-height: 24px;
    color: black;
}
.bangmau{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin: 5px;
}
.bm{
    border-radius: 50%; height: 25px;width: 10%; margin: 5px;
}
.gbmain{
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: black;
}
.GB{
    width: 100%;
    padding: 5px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    border: 1px black solid;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    line-height: 20px;
    text-align: center;
}
.m5{
    margin: 5px;
}
.giaban{
    text-align: center;
    font-weight: bold;
    color: black;
}
.notegb{
    width: 90%;
    text-align: center;
    font-size: 12px;
    color: black;
}
.sp button{
    border-radius: 30px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 200px;
    padding: 7px;
    margin: 0px calc((100% - 200px)/2);
    margin-top: 20px;
}
.banner3 h1{
    height: 150px;
    text-align: center;
    font-weight: bold;
    line-height: 150px;
}
.banner3 img{
    width: 100%;
    margin-bottom: 20px;
}
.menu{
    padding: 50px 0px;
    background-color: #F7F7F7;
}
#nav-tab button{
    width: 150px;
    font-size: 20px;
    font-weight: 300;
}
#nav-tab{
    margin-left: calc((100% - 150px*3)/2);
    margin-bottom: 100px;
}
.sp button.tht{
    background-color: white;
    color: black;
}


/* NEWS */
.heading h1{
    text-align: center;
    margin: 100px;
    font-weight: bold;
}
.news__content {
    background-color: #F7F7F7;
    padding: 50px;
}
.news__content img{
    width: 100%;
    height: 350px; 
    border: 2px solid #dedede;
}

.news__content  h3{
    font-size: 1.2rem;
    font-weight: bold;
}

.news__content a{
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    transition: all 0.5s;
}

.news__content a:hover{
    color: blue;
}

.news__content h4{
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: blue;
    margin: 1rem 0;
}
.news__content p{
    color: black;
    margin-top: 1rem;
    line-height: 1.8rem;
    font-size: 20px;
}

.news__content .row:last-child{
    margin-top: 5rem;
}


/* FOOTER */
footer{
    margin-top: 30px;
    background-color: white;
}

.footer__top h3{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
}

.footer__top p{
    color: #8b8b96;
    font-size: 15px;
    line-height: 2em;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.footer__link, .footer__contact{
    margin-bottom: 1rem;
}

.footer__link i{
    color: black;
    margin-right: 1rem;
}

.footer__link a,.footer__contact a{
    color: #8b8b96;
    text-decoration: none;
    font-size: 15px;
    line-height: 1.5em;
    letter-spacing: 1px;
    transition: all 0.5s;
}
.footer__link a:hover,.footer__contact a:hover{
    color: black;
}
.footer__contact i{
    width: 32px;
    height: 32px;
    border: 1px solid #4b4b50;
    color: white;
    text-align: center;
    line-height: 32px;
    margin-right:  1rem;
}
.footer__form{
    margin-top: 3rem;
}
.footer__form label{
    color: black;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer__form input{
    padding: 14px;
    border-radius: 0;
    border: none;
    letter-spacing: 1px;
    color: #888888;
    height: auto;
}

.footer__form button{
    background-color: black;
    padding: 12px 35px;
    letter-spacing: 1px;
    border-radius: 0;
    color: white;
    outline: none;
    transition: all 0.5s;
}
.footer__form button:hover{
    background-color: #ec1955;
    color: white;
}


.footer__bottom{
    background-color: #0f0f10;
    text-align: center;
    padding: 1rem 0;
    letter-spacing: 1px;
    color: white;
}

.footer__bottom a{
    text-decoration: none;
    color: #ff4f81;
    transition: all 0.5s;
}

.footer__bottom a:hover{
    color: white;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #e74c3c;
  transition: all .25s;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

label.star:before {
  content: '\f005';
  font-family: 'Font Awesome 5 Free';
  font-weight: 200;
}
